<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование задачи</title>
</head>
<body>
<form th:action="@{/tasks/{id}(id=${task.id})}" method="put">
  <label for="text">Текст задачи:</label>
  <input type="text" id="text" name="text" th:value="${task.text}">
  <button type="submit">Сохранить изменения</button>
</form>
<a href="@{/tasks/{id}(id=${task.id})}"><button>К странице задачи</button></a>
</body>
</html>