<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task-A</title>
</head>
<body>
<h1>Task Info</h1>

<table>
    <tr>
        <td>Task ID:</td>
        <td th:text = "${task.id}"></td>
    </tr>
    <tr>
        <td>Task Description:</td>
        <td th:text = "${task.text}"></td>
    </tr>
</table>
<a href="/tasks"><button>К списку</button></a><br>
<a th:href="'tasks/' + ${task.id} + '/edit'"><button>Редактировать</button></a><br><br>
<form th:action="'/tasks/' + ${task.id}" method = post>
    <button type="submit" class="btn btn-success">Удалить задачу</button>
</form>
</body>
</html>