<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<table>
    <tr>
        <td>Id:</td>
        <td th:text="${task.id}"></td>
    </tr>
    <tr>
        <td>Описание:</td>
        <td th:text="${task.text}"></td>
    </tr>
</table>
<a href="/tasks"><button>К списку</button></a>
<a th:href="@{/tasks/{id}/edit(id=${task.id})}"><button>Редактировать</button></a>
<form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post">
    <input type="submit" value="Удалить задачу">
</form>
</body>
</html>