<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Task-A</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class = "container mt-5">
    <h1>Список задач</h1><br>
    <div th:each="el : ${tasks}" class = "alert alert-info mt-2">
        <p th:text name="${text}"/>
        <a th:href="'/tasks/' + ${el.id}">Детальнее</a>
    </div>
    <a href="/"><button>Главная</button></a>
    <a href="/tasks/new" ><button>Добавить задачу</button></a>
</div>
</body>
</html>